name: CI

on:
  workflow_dispatch:

permissions:
  contents: write
  packages: write
  pull-requests: read

jobs:
  ci:
    uses: jcttech/.github/.github/workflows/rust-pipeline.yml@v1
    with:
      code-paths: |
        crates/**
        Cargo.toml
        Cargo.lock
      enable-docker: false
      enable-release: false
      enable-database-tests: true
