name: CI

on:
  workflow_dispatch:

jobs:
  ci:
    uses: jcttech/.github/.github/workflows/rust-pipeline.yml@v1
    permissions:
      contents: read
      pull-requests: read
    with:
      code-paths: |
        crates/**
        Cargo.toml
        Cargo.lock
      enable-docker: false
      enable-release: false
      enable-database-tests: true
