name: Build

on:
  push:
    branches: [main]
    tags: ['v*']
  pull_request:
    branches: [main]

jobs:
  ci:
    uses: jcttech/.github/.github/workflows/rust-pipeline.yml@v1
    with:
      code-paths: |
        - 'src/**'
        - 'Cargo.toml'
        - 'Cargo.lock'
        - 'Dockerfile'
        - '.dockerignore'
        - 'tests/**'
    secrets: inherit
